@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply flex gap-2 flex-col min-w-[200px] bg-transparent min-h-[275px];
}

.card h2, p {
  @apply mb-2 h-5;
}

.card p {
  @apply m-auto w-3/4
}

.image,
.card h2,
.card p {
  background: linear-gradient(105deg, #ececec 10%, #f5f5f5da 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1.3s loading linear infinite;
}

.image {
  @apply h-[200px] w-full rounded-b-none rounded-br-none;
}

.content {
  @apply py-0 px-4;
}

@keyframes loading {
  to {
    background-position-x: -200%;
  }
}

}
