@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-bg-color m-0 p-0;
}

.app-container {
  padding: 1px;
}

.app-container header {
  padding: 25px 0 0 25px;
}

.routes-container {
  margin: 40px 8vw;
}
